@import url("./fonts.css");

/*
General
 */
h1, h2, h3 {
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
button, input[type="submit"] {
    font-family: Helvetica, Arial, sans-serif;
}
button {
    font-weight: bold;
    font-size: 14px;
    padding: 1.2% 3.5%;
}

svg {
    background: transparent;
}
.dual {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5%;
}
.dual > div {
    flex: 0 0 50%;
    box-sizing: border-box;
}
.dual > .right {
    margin-left: auto;
}
.dual > .left {
    margin-right: auto;
}

/*
Code editor
 */
#editor-actions {
    margin-left: 2.3%;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.3rem;
    align-items: center;
}

.CodeMirror {
    outline: 1px solid black;
    max-width: 95%;
    margin: 0 auto;
}
.CodeMirror .faded-line {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.CodeMirror .highlight-line {
    background-color: #ffeaa7;
    opacity: 1 !important;
}


/*
Robot devices
 */
#robot-devices {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 2.5%;
}
li.robot-device {
    flex: 1 1 40%;
    max-width: 25%;
    min-width: 100px;
    justify-content: center;
    /*margin: 0 15px;*/
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
}
.device-info {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.device-info hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid #888;
}
.device-info object {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}
.device-info span, .device-info small {
    font-family: "Helvetica Neue", sans-serif;
}
.device-info span {
    font-size: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 100%;
}

/*
Telemetry
 */
#telemetry {
    min-width: 99%;
}

/*
Camera feed
 */
#camera-feed, #camera-toggle {
    display: block;
    margin: 0 auto;
}
#camera-feed {
    max-width: 93%;
}
#camera-toggle {
    margin-top: 7px;
}