/*
General
 */
svg {
    background: transparent;
}

/*
Code editor
 */
#editor-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.3rem;
    align-items: center;
}

.CodeMirror .faded-line {
    opacity: 0.3;
    transition: opacity 0.3s;
}

.CodeMirror .highlight-line {
    background-color: #ffeaa7;
    opacity: 1 !important;
}


/*
Robot devices
 */
#robot-devices {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li.robot-device {
    width: 10vw;
    justify-content: center;
    margin: 0 15px;
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 20px;
}
.device-info {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.device-info hr {
    width: 100%;
    margin: 10px 0;
    border: none;
    border-top: 1px solid #888;
}
.device-info object {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}
.device-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    max-width: 100%;
}